<div class="container">
  <div class="mainDiv">
    <h1>SpaceX Launch Programs</h1>
    <div class="filterDiv">
      <label>Filters</label>
      <p class="launchheading">Launch year</p>
      <button *ngFor="let year of launchYear; let i = index" (click)="selectMission(year)">
        {{year}}
      </button>
      <div>
        <label class="launchheading">Successful Launch</label>
        <button (click)="launchSuccess(true)">True</button>
        <button (click)="launchFailure(false)" >False</button>
      </div>
      <div>
        <label class="launchheading">Successful Landing</label>
        <button (click)="landingSuccess(true)">True</button>
        <button (click)="landingFailure(false)">False</button>
      </div>
    </div>
    <div class="missionDiv" *ngIf="!missionFlag">
      <div *ngFor="let mission of missionDetails; let i = index" class="imageDiv">
        <div class="imagesource">
          <img [src]="imageSource[i]"/>
        </div>
        <div class="detailsDiv">
          <p>{{mission?.mission_name}}  #{{mission?.flight_number}}</p>
          <p>Mission Ids:</p><span>{{mission?.mission_name}}</span>
          <p>Launch year:{{mission?.launch_year}}</p>
          <p>Successful launch:{{mission?.launch_success}}</p>
          <p>Successful landing: {{mission?.land_success}}</p>
        </div>
      </div>
    </div>

    <div class="missionDiv" *ngIf="missionFlag">
      <div *ngFor="let mission of missionData; let i = index" class="imageDiv">
        <div class="imagesource" *ngIf="i<6">
          <img [src]="imageSource[i]"/>
        </div>
        <div class="detailsDiv" *ngIf="i<6">
          <p>{{mission?.mission_name}}  #{{mission?.flight_number}}</p>
          <p>Mission Ids: {{mission?.mission_name}}</p>
          <p>Launch year: {{mission?.launch_year}}</p>
          <p>Successful launch: {{mission?.launch_success}}</p>
          <p>Successful landing: {{mission?.launch_success}}</p>
        </div>
      </div>
    </div>

  </div>
</div> 
